<!-- 

  Buscar produtos pelo TÍTULO

        ### Itens da página
        - Menu
        - Lista dos produtos em duas colunas:
        - Nome do produto
        - Quantidade do produto

-->

{% extends 'base.html' %} {% block title %} Buscar Produtos {% endblock %}

{% block content %}
<br>
<h3>Lista de Produtos</h3>
<br>

<form method="GET">
  <div class="form-row">
    <div class="col-9">
      <input type="text" class="form-control" placeholder="Digite o nome do produto"/>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Pesquisar Produto</button>
    </div>
  </div>
</form>

{% endblock %}