<html>
    <div>
        <form action="." method="GET" class="form-inline">
            <input type="text" id="search" name="search" class="form-control" placeholder="Busca">
            <input type="submit" class="btn btn-primary" value="Ok">
        </form>
    </div>
<body>
    {% if produtos %}
        {% for p in produtos %}
        <li>
            {{p.prod_nome}}
        </li>
        {%endfor%}        
    {% else %}
        <p> Produto não encontrado </p>
    {% endif %}
</body>

</html>