{% extends 'base.html' %} {% block title %} Cadastro de Produtos {% endblock %}

{% block content %} 

    </br>
    <h3>Produtos</h3>
    </br>

    <div class="table-responsive">
        {% if produtos %}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Status</th>
                    <th scope="col">Vendedor</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>            
            </thead>

            <th scope="row">
                {% for produto in produtos %}
                {% endfor %}
            </th>
            <td>
                {% for produto in produtos %}
            </td>

            <tbody>
                <td> {{produto.prod_codigo}}</td>
                <td> {{produto.prod_nome}} </td>
                <td> {{produto.prod_descricao}} </td>
                <td> {{produto.prod_preco}} </td>
                <td> {{produto.prod_qtd}} </td>
                <td> {{produto.prod_inativo}}</td>                            
                <td> {{produto.vend_id}} </td> 
                <td><form class="form-inline my-2 my-lg-0" method="GET">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Atualizar</button>
                  </form>
                </td>
                <td><form class="form-inline my-2 my-lg-0" method="GET">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Inativar</button>
                  </form>
                </td>
                <td><form class="form-inline my-2 my-lg-0" method="GET">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Excluir</button>
                  </form>
                </td>
            
            {% endfor %}
            </tbody>
        </table>

        {% else %}
            <p>Produto não encontrado. </p>
        {% endif %}
    </div>


        

{% endblock %}